         <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Languages</th>
                            <th>Repository</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let language of languageList">
                            <th scope="row">{{language.languageName}}</th>
                            <td>{{language.count}}</td>
                        </tr>
                    </tbody>
                </table>