.grid-container{
    display: grid;
    grid-template-columns: 60% 20% 20%;
}
.card {
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     border-radius: 2px;
     background: #fff;
     margin: 1rem;
}
    .padding-margin-10{
    padding: 10px;
    margin: 10px;
    }

    .heading { 
    color: #4169E1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
     }
.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer{
        cursor: pointer;
}
    .paragraph {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444;
    }
