.grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr
}
.image-container{
    height: 250px;
    width: 250px;
}
.image-logo{
    height: 200px;
}
.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     border-radius: 2px;
     background: #fff;
     margin: 1rem;
}
.technology-wrapper{
      padding: 50px;
background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
 .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.pointer-cursor{
    cursor: pointer;
}