<div class="technology-wrapper">
    <div class="row">
        <div class='col-sm-12 col-md-8'>
            <div class="grid-container card pointer-cursor" *ngFor="let language of languageList " [routerLink]="['/technology/repositorylist', language.languageName]">
                <div class="image-container display-center">
                    <img class="image-logo" [src]='language.logoAddress' />
                </div>
                <div class="display-center">
                    {{language.languageName}}
                </div>
            </div>
        </div>
        <div class='col-md-4 hidden-md-down'>
            <div class="fixed-grid-contaier">
           <cast-card-language-count-list [searchString] = 'searchString' [languageList] = 'languageList'></cast-card-language-count-list>
            </div>
        </div>
    </div>
</div>