<div class="row">
 <div class = 'col-sm-12 col-md-8'>
     <!-- <div class="card">
       <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Jacqueline_Fernandez%281%29.jpg/220px-Jacqueline_Fernandez%281%29.jpg" alt="">
       <div class="card-block text-xs-left">
         <h4 class="card-title">Title</h4>
         <p class="card-text">Body</p>
       </div>
     </div> -->
    <div class="card card-inverse card-primary">
      <img class="card-img-top img-fluid" src="holder.js/100%x180/" alt="">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
 </div>
 <div class = 'col-md-4 hidden-sm'>
 </div>
</div>